services:
  - type: web
    name: reservas-puce
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn run:app
    envVars:
      - key: SECRET_KEY
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: FLASK_DEBUG
        value: "False"
      - key: HOST
        value: "0.0.0.0"
      - key: PORT
        value: "10000"
      - key: SMTP_HOST
        sync: false
      - key: SMTP_PORT
        value: "587"
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASSWORD
        sync: false
      - key: SMTP_FROM
        sync: false
      - key: SMTP_USE_TLS
        value: "True"
      - key: SMTP_USE_SSL
        value: "False"
